/* button icon animation */

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px) ;
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(4px) scale(1.2);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes shakeRotate {
    0% {
        transform:  rotate(180deg) translateY(0);
    }
    25% {
        transform:  rotate(180deg) translateY(-2px);
    }
    50% {
        transform:  rotate(180deg) translateY(0px);
    }
    75% {
        transform:  rotate(180deg) translateY(4px) scale(1.2);
    }
    100% {
        transform:  rotate(180deg) translateY(0);
    }
}