:root {
    --primary-color: #FF3E79;

    --white-color: #FFF;
    --bg-color: #F8F8F8;

    --separator-color: #EAEAEA;

    --text-color-primary: #1B1C21;
    --text-color-secondary: #7E7E82;
    --text-border-color:#41F6D7;

    --card-border-color: #EAEAEA;
}