.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.address__mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.6px;
    margin-top: .5rem;
    margin-right: auto;
    color: var(--text-color-primary);
    transition: all .5s;
}

.address__tel {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.6px;
    margin-right: auto;
    margin-top: .75rem;
    color: var(--text-color-primary);
    transition: all .5s;
}

.address__mail:hover,
.address__tel:hover {
    filter: 
        drop-shadow(0 0 10px var(--text-border-color))
        contrast(5)
}