.brands {
    background-color: var(--bg-color);
}
.brands__swiper {
    padding: 1rem;
}
.brands__show-more {
    display: none;
}
@media (min-width: 768px) {
    .brands__swiper {
        padding: 1.5rem;
    }
    .brands__show-more {
        display: flex;
        margin-left: 1.5rem;
        margin-bottom: 2rem;
    }
}
@media (min-width: 1440px) {
    .brands__swiper {
        padding: 1.5rem 2rem;
    }
    .brands__read-more {
        margin-left: 2rem;
    }
} 