.cards-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1.5rem;
        overflow: hidden;
        height: auto;
        max-height: 10rem;
        transition: all .5s ease;
    }
    .cards-container--size--l{
        max-height: 12rem;
    }     
}

@media (min-width:1120px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2rem
      }
}
