.lang {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.lang__link,
.lang__link:link,
.lang__link:visited,
.lang__link:active {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: none;
    color: var(--text-color-primary);
    margin-right: .25rem;
}

.lang__link:focus,
.lang__link:hover {
    filter: 
        drop-shadow(0 0 10px var(--text-border-color))
        contrast(5)
}

.lang__link--active,
.lang__link--active:link,
.lang__link--active:visited,
.lang__link--active:active {
    color: var(--text-color-secondary)
}