.prices {
    padding-bottom: 3rem;
}

.prices__table {
    margin: 0 .5rem;
}

.prices__text {
    margin: 0 .5rem;
}

@media (min-width: 768px) {
    .prices {
    padding-bottom: 1rem;
    }

    .prices__table {
        margin: 1rem 1.5rem;
    }

    .prices__text {
        margin: 1.5rem 0;
        max-width: 26.5rem;
    }
}

@media (min-width: 1440px) {
    .prices__table {
        margin: 2rem;
    }
    
    .prices__text {
        margin: 2rem 0;
    }
}