.section-title {
    font-family: 'TT Lakes';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $text-color-secondary;
    display: block;
    padding: 1rem;
    margin: 0;
    border-top: 1px solid $section-border-color;
    background: linear-gradient(90deg, $bg-color 0%, $white-color 98.61%);

    @media (min-width: $screen-m) {
            padding-left: 1.5rem ;
    }
    
    @media (min-width: $screen-l) {
            padding-left: 2rem ;
    } 
}

