.slider-section {
    background-color: var(--bg-color);
}
.slider-section__swiper {
    padding: 1rem;
}

.slider-section__show-more {
    display: none;
}

@media (min-width: 768px) {
    .slider-section {
        padding-bottom: 2rem;
    }

    .slider-section__swiper {
        padding: 1.5rem;
    }

    .slider-section__show-more {
        display: flex;
        margin-left: 1.5rem;
    }
}

@media (min-width: 1440px) {
    .slider-section {
        padding-bottom: 3rem;
    }

    .slider-section__swiper {
        padding: 1.5rem 2rem;
    }
    
    .slider-section__read-more {
        margin-left: 2rem;
    }
} 