.text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.2px;
    color: $text-color-primary;

    &__hideable {
        max-height: 6rem;
        overflow: hidden;
        transition: all .4s;

        @media (min-width: $screen-m) {
            max-height: 10rem;
        }
    }

    &__paragraph {
        margin: 0;
        margin-bottom: 1rem;
    }

    &__read-more {
        margin: 1rem 0;
        margin-left: -.5rem;
    }
}