.button,
.button:link,
.button:visited,
.button:active {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all .3s;
    }
.button:hover{
    transform: translateY(-1px);
}
.button__text {
    display: block;
    font-size: 1rem;
    font-family: 'TT Lakes';
    font-weight: 500;
    letter-spacing: -0.2px;
    padding: 0 0.5rem;
}

.button__icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-sizing: border-box;
    transition: all .4s;
}

.button__icon--menu{
    background-image: url("../../img/icons/menu.svg");
}
.button__icon--tel{
    background-image: url("../../img/icons/tel.svg");
}
.button__icon--message{
    background-image: url("../../img/icons/messege.svg");
}
.button__icon--login{
    background-image: url("../../img/icons/login.svg");
}
.button__icon--order{
    background-image: url("../../img/icons/tools.svg");
}
.button__icon--status{
    background-image: url("../../img/icons/status.svg");
}
.button:hover .button__icon--read-more {
    animation-name: shake;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}
.button__icon--close{
    background-image: url("../../img/icons/close.svg");
}
.button__icon--search{
    background-image: url("../../img/icons/search.svg");
}
.button__icon--dropdown{
    background-image: url("../../img/icons/dropdown.svg");
    background-color: var(--color-white);
    border: 2px solid var(--primary-color)
}