.menu {
    font-family: "TT Lakes", sans-serif;;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 
        -2px 0px 4px rgba(69, 79, 126, 0.02), 
        16px 0px 52px rgba(14, 24, 80, 0.2);
}
@media (max-height: 740px) {
    .menu {
        padding-top: 1rem;
        overflow-y: scroll;
    }
}

.menu__header {
    display: flex;
    height: 5.5rem;
    align-items: center;
    margin: 0 1.5rem;
}
.menu__logo {
    margin-left: 1rem;
    margin-right: auto;
}
.menu__nav {
    margin: 1rem 0 auto;
}
.menu__actions {
    display: flex;
    margin: 3rem 1rem 0;
}

.menu__lang {
    margin: 2rem 1.5rem;
}
