
.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__link,
.nav__link:link,
.nav__link:visited,
.nav__link:active {
    color: var(--text-color-primary);
    display: block;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: -0.2px;
    font-weight: 500;
    padding: 1rem 1.5rem;
    transition: all .5s ease    ;
}
.nav__link:hover,
.nav__link:focus {
    outline: none   ;
    filter:
    drop-shadow(0 0 5px var(--text-border-color))  
    contrast(5);
}

.nav__link--active,
.nav__link--active:link,
.nav__link--active:visited,
.nav__link--active:active {
    position: relative;
    color: var(--text-color-secondary);
}
.nav__link--active::before {
    content: "";
    width: 4px;
    height: 32px;
    background-color: var(--text-border-color);
    border-radius: 0 4px 4px 0;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}