:root {
    --primary-color: #FF3E79;

    --white-color: #FFF;
    --bg-color: #F8F8F8;

    --separator-color: #EAEAEA;

    --text-color-primary: #1B1C21;
    --text-color-secondary: #7E7E82;
    --text-border-color:#41F6D7;
    --page-nav-border-color: #B8FFEC;
    --section-border-color: #D9FFF5;
    
    --placeholder-color: #B5B6BC;

    --card-border-color: #EAEAEA;
}